@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

/* THEME COLORS */
/* Primary: #96cafd */
/* Secondary: #64b1fc */
/* Tertiary: #4ba4fc */
/* Quandary: #022d57 */
/* More: http://www.colorhexa.com/96cafd */

html {
	overflow-x: hidden;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.7em;
    margin: 0 auto;
    background-color: #f6ffff;
}

hr {
    max-width: 50px;
    border-color: #96cafd !important;
    border-width: 3px;
}

h1,
h2 {
    margin-top: 1em;
    padding-top: 1em;
}

.nopadding {
    margin-top: 0em;
    padding-top: 0em;
}

h1,
h2,
strong {
    color: #333;
}

a {
    color: #64b1fc;
}

header {
    min-height: 100vh;
    overflow-x: hidden;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    line-height: 1.2;
    padding: 6vh 2em 6vh 2em;
    text-align: center;

    @media (max-width: 992px) {
    	background-attachment: scroll;
    }
}

#header {
    background-image: url("../res/WarrenBear.jpg");
}

header img {
    display: inline-block;
    max-height: 20em;
    vertical-align: top;
    max-width: 20em;
    margin: 0 auto;
}

header p {
    color: #034b91;
}

h1.header-title {
    margin-top: 0em;
    padding-top: 0em;
}

.header-pic {
    margin: 0 auto;
}

.header-text {
    margin-top: 1em;
    padding-top: 1em;    
}

.header-content {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    text-shadow: 0px 0px;
    background-color: rgba(246,255,255,.9);
}

.jumbotron-connectfall {
    background-color: #bcddfe;
}

.placeflow-title {
    font-size: 63px;
}

.placeflow-img {
    max-width: 30em;
}

.education-section {
    max-width: 50em;
}

.footer-title,
.footer-content {
    margin-top: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

footer {
    padding: 5vw 2em;
}

.opaquebox {
    padding: 1em;
    background-color: rgba(0,0,0,.7);
}

.shadow {
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.4);
    box-shadow: 0 6px 12px rgba(0,0,0,.4);
}

.heart {
    color: red;
}