@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

/* THEME COLORS */
/* Primary: #96cafd */
/* Secondary: #64b1fc */
/* Tertiary: #4ba4fc */
/* Quandary: #022d57 */
/* More: http://www.colorhexa.com/96cafd */

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.7em;
    margin: 0 auto;
    background-color: #f6ffff;
}

hr {
    max-width: 50px;
    border-color: #96cafd !important;
    border-width: 3px;
}

h1,
h2 {
    margin-top: 1em;
    padding-top: 1em;
}

.nopadding {
    margin-top: 0em;
    padding-top: 0em;
}

h1,
h2,
strong {
    color: #333;
}

a {
    color: #64b1fc;
}

header {
    height: 100%;
    max-height: 100%;
    width:auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    line-height: 1.2;
    max-width: none;
    padding: 10vw 2em 15vw 2em;
    text-align: center;
}


header img {
    display: inline-block;
    height: 20em;
    vertical-align: top;
    width: 20em;
}

header p {
    color: #034b91;
}

h1.header-title {
    margin-top: 0em;
    padding-top: 0em;
    font-size: 4em;
}

.header-pic {
    margin: 0 auto;
}

.header-text {
    margin-top: 1em;
    padding-top: 1em;    
}

.header-content {
    margin: 0 auto;
    width: fit-content !important;
    text-align: center;
    text-shadow: 0px 0px;
    background-color: rgba(246,255,255,.9);
}

.education-section {
    max-width: 50em;
}

.footer-title,
.footer-content {
    margin-top: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

footer {
    padding: 5vw 2em;
}

.opaquebox {
    padding: 1em;
    background-color: rgba(0,0,0,.7);
}

.shadow {
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.4);
    box-shadow: 0 6px 12px rgba(0,0,0,.4);
}
