@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
}

hr {
    max-width: 50px
}

main,
p {
    margin: 0 auto;
    max-width: 60em;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

img {
    padding: 3px;
}

h1,
h2,
strong {
    color: #333;
}

a {
    color: #96cafd;
}

header {
  background-color: #9696fd;
  background-image: url("../res/WarrenBear.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  max-width: none;
  padding: 10vw 2em;
  text-align: center;
}

header img {
  display: inline-block;
  height: 200px;
  vertical-align: top;
  width: 200px;
}

header h1,
header h2,
header h3,
header h4 {
  color: white;
}

.fancybutton {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

.fancybutton:hover {
  background:  #e81c4f;
  color: white;
}

.opaquebox {
    padding: 1em;
    background-color: rgba(0,0,0,.35);
}

.shadow {
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.container-max {
    width: 100%;
}