/* Show the scroll panel on the side when screen is large enough */
@media(min-width: 992px) {
    .scroll-panel {
        position: absolute;
        height: 100vh;
        width: 50vw;
        left: 0;
        top: 120vh;
        overflow: hidden;
    }

    .scroll-image {
        position: absolute;
        left: 0;
        height: 100vh;
        opacity: 0;
    }

    .experience-item-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .experience-item {
        animate: none;
    }

}

/* Mobile version of scroll panel */
@media(max-width: 992px) {
/*    .experience-title {
        position: absolute;
        min-width: 100vw;
        text-align: center;
    }*/

    .experience-item {
        -moz-box-shadow: 0 6px 12px rgba(0,0,0,.4);
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.4);
        box-shadow: 0 6px 12px rgba(0,0,0,.4);
        background-color: rgba(246,255,255,.7);
        border-radius: 6px;
        padding-right: 5vw;
        padding-left: 5vw;
    }

    .experience-item-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        height: 100vh;
    }


    .scroll-panel {
        position: absolute;
        height: 100vh;
        width: 100vw;
        left: 0;
        top: 120vh;
        overflow: hidden;
    }

    .scroll-image {
        position: absolute;
        left: 0;
        height: 100vh;
        opacity: 0;
    }
}