@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

/* THEME COLORS */
/* Primary: #96cafd */
/* Secondary: #64b1fc */
/* Tertiary: #4ba4fc */
/* Quandary: #022d57 */
/* More: http://www.colorhexa.com/96cafd */

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    background-color: #f6ffff;
}

hr {
    max-width: 50px;
    border-color: #96cafd;
    border-width: 3px;
}

h1,
h2 {
    margin-top: 1em;
    padding-top: 1em;
}

h1,
h2,
strong {
    color: #333;
}

a {
    color: #64b1fc;
}

header {
    height: 100%;
    max-height: 100%;
    width:auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    line-height: 1.2;
    max-width: none;
    padding: 13.2vw 2em;
    text-align: center;
}


header img {
    display: inline-block;
    height: 20em;
    vertical-align: top;
    width: 20em;
}

header h1 {
    margin-top: 0em;
    padding-top: 0em;
    text-shadow: 1px 1px #000000;
    color: #96cafd;
    font-size: 4em;
}

header p {
    color: #02417e;
}

.header-pic {
    margin: 0 auto;
}

.header-text {
    margin-top: 1em;
    padding-top: 1em;    
}

.header-content {
    margin: 0 auto;
    width: fit-content !important;
    text-align: center;
    text-shadow: 0px 0px;
    background-color: rgba(246,255,255,.9);
}

.footer-title,
.footer-content {
    margin-top: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

footer {
    padding: 5vw 2em;
}

/* Brand-specific styling - thanks to https://brandcolors.net/ */

.github-invertocat-ico {
    color: #999999;
}

.github-invertocat-ico:hover {
    color: #666666;
}

.linkedin-ico {
    color: #0077b5;
}

.facebook-ico {
    color: #3b5998;
}

.spotify-ico {
    color: #2ebd59;
}

.spotify-ico:hover {
    color: #1f7f3c;
}

/* Custom CSS */

.npm-ico {
    width: 5em;
    height: 5em;
}

.npm-ico:hover {
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.4);
    box-shadow: 0 6px 12px rgba(0,0,0,.4);
}

.ico-box {
    max-height: 15em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.ico {
    color: #4ba4fc;
}

.opaquebox {
    padding: 1em;
    background-color: rgba(0,0,0,.7);
}

.shadow {
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.4);
    box-shadow: 0 6px 12px rgba(0,0,0,.4);
}
