/* Brand-specific styling - thanks to https://brandcolors.net/ */

.ico {
    color: #4ba4fc;
}

.ico-box {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Experience Section */

.logo {
    margin: 0 auto;
    width: 20em;
}

.obrary-logo {
    padding-top: 2em;
    padding-bottom: 2em;
}

.dv-logo {
    height: 10em;
    width: auto;
}

.hpe-link {
    color: rgb(0, 177, 136);
}

.hpe-link:hover {
    color: black;
}

.slac-link {
    color: rgb(169, 29, 56);
}

.slac-link:hover {
    color: black;
}


/* Language Section -  manual padding to center */

.ico-lang {
    height: 21em;
}

.java-ico {
    margin-left: 0.45em;
}

.javascript-ico {
    margin-left: 0.25em;
}

.python-ico {
    margin-left: 0.2em;
}

.c-ico {
    margin-left: 0.25em;
}

.cplusplus-ico {
    margin-left: 0em;
}

.rpi-ico {
    margin-left: 0.25em;
}

/* Framework Section */

.logo-framework {
    max-height: 7em;
    width: auto;
}

/* Education Section */

.logo-education {
    max-height: 15em;
    width: auto;
}


/* Contact/Interest Section */

.ico-contact {
    font-size: 4em;
}

.github-invertocat-ico {
    color: #999999;
}

.github-invertocat-ico:hover {
    color: #666666;
}

.linkedin-ico {
    color: #0077b5;
}

.facebook-ico {
    color: #3b5998;
}

.spotify-ico {
    color: #2ebd59;
}

.spotify-ico:hover {
    color: #1f7f3c;
}

.npm-ico {
    width: 4em;
    height: 4em;
}

.npm-ico:hover {
}
